# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class



# C extensions
*.so

# Distribution / packaging
logs/
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
questdb-8.0.3-rt-linux-amd64/
questdb-8.0.3-rt-linux-amd64.*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# Celery stuff
# celery_config.py

# QuestDB binary
questdb-6.5.3-no-jre-bin/

# Redis dump file
dump.rdb

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# pytest cache
.pytest_cache/
